<main class="container mb-4">
    <h1 class="is-size-1 has-text-centered">To-do List</h1>
    <div class="content">
        <button class="button is-success" (click)="addTask()">
            <fa-icon icon="plus"></fa-icon>
        </button>
        <div class="columns is-flex is-flex-direction-column is-align-items-center">
            <ol class="column is-half">
                <li *ngFor="let task of tasks; index as index" [ngClass]="taskClassList(task)" (click)="toggleFinished(task);" class="task box block columns has-text-centered">
                    <div class="field has-addons column is-one-fifth mb-0">
                        <button class="button is-small is-primary" (click)="editStart(task, index)">
                            <fa-icon icon="pen-to-square"></fa-icon>
                        </button>
                        <button class="button is-small is-danger" (click)="deleteTask(task); $event.stopImmediatePropagation()">
                            <fa-icon icon="trash"></fa-icon>
                        </button>
                    </div>
                    <div class="column">
                        <span *ngIf="task !== editing">{{ task.name }}</span>
                        <input [id]="'editing' + index" *ngIf="task === editing" type="text" (blur)="editFinish()" (keyup.enter)="editFinish()" [(ngModel)]="task.name">
                    </div>
                    <div class="column is-one-fifth"></div>
                </li>
            </ol>
        </div>
        <app-footer></app-footer>
    </div>
</main>
