<header class="mb-5">
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a href="" class="navbar-item is-size-3">Logo</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="appNav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="appNav" class="navbar-menu">
            <div class="navbar-start">
                <a href=""  class="navbar-item">About</a>
                <a href="" class="navbar-item">News</a>
                <a href=""  class="navbar-item">Contact</a>
                <a routerLink="/todo" class="navbar-item">To-Do List</a>
            </div>
        </div>
    </nav>
</header>
